## Project: Analysing Currency Trends.

***

### 1. Data Collection

***

Importing libraries.

In [1]:
import yfinance as yf
import pandas as pd
import sqlite3

I'm getting data with a 60-minute interval covering 2 years, which is the maximum amount limited by Yahoo Finance. If I'm trying to get more data returned, "The requested range must be within the last 730 days".

***

#### Data related to the United States Dollar currency (USD represent by symbol **$**).

Data are taken every hour for 2 years.

In [2]:
# Download USDGBP and USDEUR exchange rates
usd2y = yf.download(['USDGBP=X','USDEUR=X'], period='2y', interval='60m', group_by='ticker')
# Display the first 3 rows
#usd.head(3)

[*********************100%***********************]  2 of 2 completed

Data are taken once a day for 5 years.

In [3]:
# Download USDGBP and USDEUR exchange rates
usd5y = yf.download(['USDGBP=X','USDEUR=X'], period='5y', interval='1d', group_by='ticker')
# Display the first 3 rows
#usd5y.head(3)

[*********************100%***********************]  2 of 2 completed

Data are taken every 5 minutes for 5 days.

In [4]:
# Download USDGBP and USDEUR exchange rates
usd5d = yf.download(['USDGBP=X','USDEUR=X'], period='5d', interval='5m', group_by='ticker')
# Display the first 3 rows
#usd5d.head(3)

[*********************100%***********************]  2 of 2 completed

***

#### Data related to the Great British Pound (often referred to simply as the British Pounds) currency (GBP represent by symbol **£**).

Data are taken every hour for 2 years.

In [5]:
# Download GBPUSD and GBPEUR exchange rates
gbp2y = yf.download(['GBPUSD=X', 'GBPEUR=X'], period='2y', interval='60m', group_by='ticker')
# Display the first 3 rows
#gbp2y.head(3)

[*********************100%***********************]  2 of 2 completed

Data are taken once a day for 5 years.

In [6]:
# Download GBPUSD and GBPEUR exchange rates
gbp5y = yf.download(['GBPUSD=X', 'GBPEUR=X'], period='5y', interval='1d', group_by='ticker')
# Display the first 3 rows
#gbp5y.head(3)

[*********************100%***********************]  2 of 2 completed

Data are taken every 5 minutes for 5 days.

In [7]:
# Download GBPUSD and GBPEUR exchange rates
gbp5d = yf.download(['GBPUSD=X', 'GBPEUR=X'], period='5d', interval='5m', group_by='ticker')
# Display the first 3 rows
#gbp5d.head(3)

[*********************100%***********************]  2 of 2 completed

***

#### Data related to official currency of the Eurozone knows as Euro currency (EUR: represent by **€**).

Data are taken every hour for 2 years.

In [8]:
# Download EURUSD and EURGBP exchange rates
eur2y = yf.download(['EURUSD=X', 'EURGBP=X'], period='2y', interval='60m', group_by='ticker')
# Display the first 3 rows
#eur2y.head(3)

[*********************100%***********************]  2 of 2 completed

Data are taken once a day for 5 years.

In [9]:
# Download EURUSD and EURGBP exchange rates
eur5y = yf.download(['EURUSD=X', 'EURGBP=X'], period='5y', interval='1d', group_by='ticker')
# Display the first 3 rows
#eur5y.head(3)

[*********************100%***********************]  2 of 2 completed

Data are taken every 5 minutes for 5 days.

In [10]:
# Download EURUSD and EURGBP exchange rates
eur5d = yf.download(['EURUSD=X', 'EURGBP=X'], period='5d', interval='5m', group_by='ticker')
# Display the first 3 rows
#eur5d.head(3)

[*********************100%***********************]  2 of 2 completed

***

#### Data related to the Bitcoin cryptocurrency (BTC represented by symbol **₿**)

Data are taken every hour for 2 years.

In [11]:
# Dowlnoad BTC-USD, BTC-GBP and BTC-EUR exchange rates
btc2y = yf.download(['BTC-USD', 'BTC-GBP', 'BTC-EUR'], period='2y', interval='60m', group_by='ticker')
# Display the first 3 rows
btc2y.head(3)

[*********************100%***********************]  3 of 3 completed

Ticker                    BTC-USD                                            \
Price                        Open          High           Low         Close
Datetime
2022-12-14 01:00:00  17808.406250  17810.781250  17783.294922  17787.011719
2022-12-14 02:00:00  17787.605469  17798.296875  17765.650391  17798.296875
2022-12-14 03:00:00  17796.447266  17831.701172  17795.742188  17802.958984

Ticker                                            BTC-EUR                \
Price                   Adj Close    Volume          Open          High
Datetime
2022-12-14 01:00:00  17787.011719         0  16744.113281  16749.423828
2022-12-14 02:00:00  17798.296875         0  16725.144531  16743.048828
2022-12-14 03:00:00  17802.958984  15964160  16746.595703  16780.416016

Ticker                                                                     \
Price                         Low         Close     Adj Close      Volume
Datetime
2022-12-14 01:00:00  16722.503906  16725.867188  16725.867188         0.0
2022-12-14 02:00:00  16705.644531  16743.048828  16743.048828         0.0
2022-12-14 03:00:00  16741.841797  16754.978516  16754.978516  30838784.0

Ticker                    BTC-GBP                                            \
Price                        Open          High           Low         Close
Datetime
2022-12-14 01:00:00  14415.203125  14418.937500  14396.306641  14400.206055
2022-12-14 02:00:00  14400.560547  14411.860352  14381.706055  14411.860352
2022-12-14 03:00:00  14413.951172  14437.811523  14404.247070  14413.108398

Ticker
Price                   Adj Close      Volume
Datetime
2022-12-14 01:00:00  14400.206055         0.0
2022-12-14 02:00:00  14411.860352         0.0
2022-12-14 03:00:00  14413.108398  13066240.0

Data are taken once a day for 5 years.

In [12]:
# Dowlnoad BTC-USD, BTC-GBP and BTC-EUR exchange rates
btc5y = yf.download(['BTC-USD', 'BTC-GBP', 'BTC-EUR'], period='5y', interval='1d', group_by='ticker')
# Display the first 3 rows
#btc5y.head(3)

[*********************100%***********************]  3 of 3 completed

Data are taken every 5 minutes for 5 days.

In [13]:
# Dowlnoad BTC-USD, BTC-GBP and BTC-EUR exchange rates
btc5d = yf.download(['BTC-USD', 'BTC-GBP', 'BTC-EUR'], period='5d', interval='5m', group_by='ticker')
# Display the first 3 rows
#btc5d.head(3)

[*********************100%***********************]  3 of 3 completed

Understanding collected data is kind of important. We can identify columns called:
* Open: Price at the start of the trading period.
* High: Highest price during the trading period.
* Low: Lowest price during the trading period.
* Close: Price at the end of the trading period.
* Adj Close: Close price adjusted for events like splits or dividends (not relevant in this case).
* Volume: Total amount of the asset traded during the period.

Display the first 3 row are commented out and was use only to check Data Frame and discover column names.

***

### 2. Data Cleaning

I chose to analyse OHLC data (Open, High, Low, Close) because it provides a comprehensive view of price movements, which is essential for identifying market trends and making informed trading decisions.

I will omit other data, such as volume or adjusted close, as they are less relevant for understanding price action and trend analysis. After examining the data, it is clear that the Adj Close column contains the same values as the Close column, and the Volume column is empty.

Formatting Data Frames for easier manipulation

In [14]:
# List of columns to drop for each currency and asset type
columnsToDrop = {
    'usd': [('USDGBP=X', 'Adj Close'), ('USDGBP=X', 'Volume'), ('USDEUR=X', 'Adj Close'), ('USDEUR=X', 'Volume')],
    'gbp': [('GBPUSD=X', 'Adj Close'), ('GBPUSD=X', 'Volume'), ('GBPEUR=X', 'Adj Close'), ('GBPEUR=X', 'Volume')],
    'eur': [('EURUSD=X', 'Adj Close'), ('EURUSD=X', 'Volume'), ('EURGBP=X', 'Adj Close'), ('EURGBP=X', 'Volume')],
    'btc': [('BTC-USD', 'Adj Close'), ('BTC-USD', 'Volume'), ('BTC-GBP', 'Adj Close'), ('BTC-GBP', 'Volume'), ('BTC-EUR', 'Adj Close')]
}

# List of DataFrames for each asset
dfColumnsDroppedList = {
    'usd': [usd2y, usd5y, usd5d],
    'gbp': [gbp2y, gbp5y, gbp5d],
    'eur': [eur2y, eur5y, eur5d],
    'btc': [btc2y, btc5y, btc5d]
}

# Iterate over each currency/asset and drop the relevant columns
for asset_type in columnsToDrop.keys():
    columns = columnsToDrop[asset_type]
    dataframes = dfColumnsDroppedList[asset_type]
    
    for df in dataframes:
        df.drop(columns=columns, inplace=True, errors='ignore')

In [15]:
# Merge the DataFrames using 'Datetime' column and add suffixes
mergedFiatCurrencies2y = usd2y.merge(eur2y, how='outer', on='Datetime', suffixes=('_USD', '_EUR')).merge(gbp2y, how='outer', on='Datetime', suffixes=('_EUR', '_GBP'))
mergedFiatCurrencies5d = usd5d.merge(eur5d, how='outer', on='Datetime', suffixes=('_USD', '_EUR')).merge(gbp5d, how='outer', on='Datetime', suffixes=('_EUR', '_GBP'))
mergedFiatCurrencies5y = usd5y.merge(eur5y, how='outer', left_index=True, right_index=True, suffixes=('_USD', '_EUR')) \
                              .merge(gbp5y, how='outer', left_index=True, right_index=True, suffixes=('_EUR', '_GBP'))

#### Fill missing values using forward fill (ffill) method

In [16]:
# List of DataFrames
dataframes = [mergedFiatCurrencies2y, mergedFiatCurrencies5y, mergedFiatCurrencies5d]

# Forward fill missing values for each DataFrame in the list
for df in dataframes:
    df.ffill(inplace=True)

#### Checking Datetime format if it is in expected form: '%Y-%m-%d %H:%M:%S'.

In [18]:
# Check if 'Datetime' is in any level of the MultiIndex
if 'Datetime' in mergedFiatCurrencies2y.index.names:
    # Extract the 'Datetime' level from the MultiIndex
    datetime_column = mergedFiatCurrencies2y.index.get_level_values('Datetime')
    
    # Check if the 'Datetime' index is in datetime64 format
    if pd.api.types.is_datetime64_any_dtype(datetime_column):
        # Display the format of the 'Datetime' index
        datetime_format = datetime_column[0].strftime('%Y-%m-%d %H:%M:%S')  # You can adjust the format as needed
        print(f"The 'Datetime' index is correctly formatted as datetime64.\nExample of the format: {datetime_format}\nThere is no action required.")
    else:
        print("The 'Datetime' index is not in datetime64 format.\nPlease convert it.")

The 'Datetime' index is correctly formatted as datetime64.
Example of the format: 2022-12-14 00:00:00
There is no action required.

#### Saving Clean and Formatted DataFrames to CSV Files

In [19]:
# List of DataFrames and corresponding filenames
dataframes = [mergedFiatCurrencies2y, mergedFiatCurrencies5y, mergedFiatCurrencies5d]
filenames = ['mergedFiatCurrencies2y.csv', 'mergedFiatCurrencies5y.csv', 'mergedFiatCurrencies5d.csv']

# Save each DataFrame to a CSV file
for df, filename in zip(dataframes, filenames):
    df.to_csv(f'data/csv/{filename}', index=True)
    print(f"Data merged and saved to '{filename}'")

Data merged and saved to 'mergedFiatCurrencies2y.csv'
Data merged and saved to 'mergedFiatCurrencies5y.csv'
Data merged and saved to 'mergedFiatCurrencies5d.csv'

In [21]:
# Normalizing the data

# List of DataFrames to normalize
btcDataFrames = [btc2y, btc5y, btc5d]

# Normalize each DataFrame and store them in a list
normalisedBtcFrames = [df.div(df.iloc[0]).mul(100) for df in btcDataFrames]

#Fillin missing values
normalisedBtcFrames = [df.ffill() for df in normalisedBtcFrames]

# Assign normalized DataFrames to distinct variables
normalizedbtc2y, normalizedbtc5y, normalizedbtc5d = normalisedBtcFrames[0], normalisedBtcFrames[1], normalisedBtcFrames[2]

In [22]:
# Saving normalized data to a CSV files
normalizedbtc2y.to_csv('data/csv/normalizedbtc2y.csv', index=True)
normalizedbtc5y.to_csv('data/csv/normalizedbtc5y.csv', index=True)
normalizedbtc5d.to_csv('data/csv/normalizedbtc5d.csv', index=True)

In [23]:
# Connect to SQLite database (creates file if it doesn't exist)
conn = sqlite3.connect('data/db/currencies.db')

# List of DataFrames and their corresponding table names
dataframes = [(mergedFiatCurrencies2y, 'fiatcurrencies2y'), 
              (mergedFiatCurrencies5y, 'fiatcurrencies5y'), 
              (mergedFiatCurrencies5d, 'fiatcurrencies5d')]

# Loop to write each DataFrame to the SQLite database
for df, table_name in dataframes:
    df.to_sql(table_name, conn, if_exists='replace', index=True)

# Close the connection to SQLite
conn.close()

print("Data successfully written to SQLite database!")

Data successfully written to SQLite database!

In [24]:
# Connect to the SQLite database
conn = sqlite3.connect('data/db/currencies.db')
cursor = conn.cursor()

# Query to list tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the tables
print("Tables in the database:")
for table in tables:
    print(table[0])

# Close the connection
conn.close()

Tables in the database:
fiatcurrencies2y
fiatcurrencies5y
fiatcurrencies5d

In [25]:
# Connect to the SQLite database
conn = sqlite3.connect('data/db/currencies.db')

# Read data from the table into a pandas DataFrame
query = "SELECT * FROM fiatcurrencies2y LIMIT 5;"  # Adjust for your table name
df = pd.read_sql(query, conn)

# Display the DataFrame
df

,Datetime,"('USDEUR=X', 'Open')","('USDEUR=X', 'High')","('USDEUR=X', 'Low')","('USDEUR=X', 'Close')","('USDGBP=X', 'Open')","('USDGBP=X', 'High')","('USDGBP=X', 'Low')","('USDGBP=X', 'Close')","('EURUSD=X', 'Open')",...,"('EURGBP=X', 'Low')","('EURGBP=X', 'Close')","('GBPEUR=X', 'Open')","('GBPEUR=X', 'High')","('GBPEUR=X', 'Low')","('GBPEUR=X', 'Close')","('GBPUSD=X', 'Open')","('GBPUSD=X', 'High')","('GBPUSD=X', 'Low')","('GBPUSD=X', 'Close')"
0,2022-12-14 00:00:00,0.9410,0.9410,0.9398,0.9399,0.80948,0.81027,0.80921,0.80951,1.062699,...,0.8597,0.86087,1.16269,1.16270,1.1605,1.16135,1.235361,1.235773,1.234156,1.235315
1,2022-12-14 01:00:00,0.9399,0.9403,0.9396,0.9401,0.80937,0.80991,0.80932,0.80953,1.063943,...,0.8605,0.86095,1.16137,1.16171,1.1607,1.16121,1.235529,1.235605,1.234705,1.235285
2,2022-12-14 02:00:00,0.9401,0.9408,0.9398,0.9407,0.80959,0.81019,0.80930,0.80991,1.063717,...,0.8604,0.86066,1.16137,1.16183,1.1609,1.16161,1.235193,1.235636,1.234278,1.234705
3,2022-12-14 03:00:00,0.9407,0.9410,0.9403,0.9409,0.80980,0.80986,0.80927,0.80953,1.063038,...,0.8599,0.86019,1.16179,1.16259,1.1614,1.16224,1.234873,1.235682,1.234781,1.235285
4,2022-12-14 04:00:00,0.9406,0.9413,0.9406,0.9410,0.80972,0.81020,0.80931,0.80977,1.063151,...,0.8598,0.86033,1.16234,1.16268,1.1617,1.16215,1.234995,1.235620,1.234263,1.234919