## Project: Analysing Currency Trends.

***

### 1. Data Collection

Importing libraries.

In [ ]:
import yfinance as yf
import pandas as pd

I'm getting data with a 60-minute interval covering 2 years, which is the maximum amount limited by Yahoo Finance. If I'm trying to get more data returned, "The requested range must be within the last 730 days".

Data related to the United States Dollar currency (USD represent by symbol **$**).

In [ ]:
# Download USDGBP and USDEUR exchange rates
usd = yf.download(['USDGBP=X','USDEUR=X'], period='2y', interval='60m', group_by='ticker')
# Display the first 3 rows
usd.head(3)

[*********************100%***********************]  2 of 2 completed

Ticker              USDEUR=X                                           \
Price                   Open    High     Low   Close Adj Close Volume
Datetime
2022-12-12 00:00:00   0.9502  0.9512  0.9498  0.9508    0.9508    0.0
2022-12-12 01:00:00   0.9510  0.9515  0.9505  0.9508    0.9508    0.0
2022-12-12 02:00:00   0.9511  0.9515  0.9502  0.9510    0.9510    0.0

Ticker              USDGBP=X
Price                   Open     High      Low    Close Adj Close Volume
Datetime
2022-12-12 00:00:00  0.81726  0.81814  0.81695  0.81796   0.81796    0.0
2022-12-12 01:00:00  0.81812  0.81874  0.81767  0.81842   0.81842    0.0
2022-12-12 02:00:00  0.81821  0.81893  0.81769  0.81817   0.81817    0.0

Data related to the Great British Pound (often referred to simply as the British Pounds) currency (GBP represent by symbol **£**).

In [ ]:
# Download GBPUSD and GBPEUR exchange rates
gbp = yf.download(['GBPUSD=X', 'GBPEUR=X'], period='2y', interval='60m', group_by='ticker')
# Display the first 3 rows
gbp.head(3)

[*********************100%***********************]  2 of 2 completed

Ticker               GBPUSD=X                                                 \
Price                    Open      High       Low     Close Adj Close Volume
Datetime
2022-12-12 00:00:00  1.223601  1.224065  1.222285  1.222554  1.222554    0.0
2022-12-12 01:00:00  1.222315  1.222987  1.221389  1.221866  1.221866    0.0
2022-12-12 02:00:00  1.222180  1.222957  1.221106  1.222240  1.222240    0.0

Ticker              GBPEUR=X
Price                   Open     High     Low    Close Adj Close Volume
Datetime
2022-12-12 00:00:00  1.16286  1.16330  1.1622  1.16261   1.16261    0.0
2022-12-12 01:00:00  1.16253  1.16276  1.1619  1.16255   1.16255    0.0
2022-12-12 02:00:00  1.16239  1.16259  1.1618  1.16243   1.16243    0.0

Data related to official currency of the Eurozone knows as Euro currency (EUR: represent by **€**).

In [16]:
# Download EURUSD and EURGBP exchange rates
eur = yf.download(['EURUSD=X', 'EURGBP=X'], period='2y', interval='60m', group_by='ticker')
# Display the first 3 rows
eur.head(3)

[*********************100%***********************]  2 of 2 completed

Ticker               EURUSD=X                                                 \
Price                    Open      High       Low     Close Adj Close Volume
Datetime
2022-12-12 00:00:00  1.052410  1.052853  1.051304  1.051746  1.051746    0.0
2022-12-12 01:00:00  1.051525  1.052078  1.050972  1.051746  1.051746    0.0
2022-12-12 02:00:00  1.051414  1.052410  1.050972  1.051525  1.051525    0.0

Ticker              EURGBP=X
Price                   Open     High      Low    Close Adj Close Volume
Datetime
2022-12-12 00:00:00  0.85980  0.86010  0.85938  0.85990   0.85990    0.0
2022-12-12 01:00:00  0.85996  0.86028  0.85970  0.86007   0.86007    0.0
2022-12-12 02:00:00  0.86000  0.86041  0.85980  0.85990   0.85990    0.0

Data related to the Bitcoin cryptocurrency (BTC represent by symbol **₿**)

In [ ]:
# Dowlnoad BTC-USD, BTC-GBP and BTC-EUR exchange rates
btc = yf.download(['BTC-USD', 'BTC-GBP', 'BTC-EUR'], period='2y', interval='60m', group_by='ticker')
# Display the first 3 rows
btc.head(3)

[*********************100%***********************]  3 of 3 completed

### Taking daily data for 5 years period.

Data related to the United States Dollar (USD: **$**).

In [26]:
# Download USDGBP and USDEUR exchange rates
usd = yf.download(['USDGBP=X','USDEUR=X'], period='5y', interval='1d', group_by='ticker')
# Display the first 3 rows
usd.head(3)

[*********************100%***********************]  2 of 2 completed

Ticker     USDEUR=X                                             USDGBP=X  \
Price          Open     High      Low    Close Adj Close Volume     Open
Date
2019-12-12  0.89821  0.89994  0.89659  0.89800   0.89800      0  0.75755
2019-12-13  0.89418  0.89937  0.89390  0.89397   0.89397      0  0.74203
2019-12-16  0.89886  0.89900  0.89623  0.89892   0.89892      0  0.74877

Ticker
Price          High      Low    Close Adj Close Volume
Date
2019-12-12  0.76240  0.75590  0.75757   0.75757      0
2019-12-13  0.75134  0.74020  0.74210   0.74210      0
2019-12-16  0.75040  0.74532  0.74888   0.74888      0

Data related to the British Pounds (GBP: **£**).

In [25]:
# Download GBPUSD and GBPEUR exchange rates
gbp5y = yf.download(['GBPUSD=X', 'GBPEUR=X'], period='5y', interval='1d', group_by='ticker')
# Display the first 3 rows
gbp5y.head(3)

[*********************100%***********************]  2 of 2 completed

Ticker     GBPEUR=X                                              GBPUSD=X  \
Price          Open     High      Low    Close Adj Close Volume      Open
Date
2019-12-12  1.18558  1.18720  1.17780  1.18557   1.18557      0  1.320045
2019-12-13  1.20488  1.20777  1.19245  1.20451   1.20451      0  1.347654
2019-12-16  1.20032  1.20409  1.19562  1.20026   1.20026      0  1.335524

Ticker
Price           High       Low     Close Adj Close Volume
Date
2019-12-12  1.322926  1.311648  1.320010  1.320010      0
2019-12-13  1.350986  1.330955  1.347527  1.347527      0
2019-12-16  1.341706  1.332623  1.335327  1.335327      0

Data related  Euro currency (EUR: **€**).

In [27]:
# Download EURUSD and EURGBP exchange rates
eur = yf.download(['EURUSD=X', 'EURGBP=X'], period='5y', interval='1d', group_by='ticker')
# Display the first 3 rows
eur.head(3)

[*********************100%***********************]  2 of 2 completed

Ticker      EURUSD=X                                                EURGBP=X  \
Price           Open      High       Low     Close Adj Close Volume     Open
Date
2019-12-12  1.113325  1.115337  1.111185  1.113586  1.113586      0  0.84333
2019-12-13  1.118343  1.118693  1.111889  1.118606  1.118606      0  0.82979
2019-12-16  1.112520  1.115785  1.112347  1.112446  1.112446      0  0.83297

Ticker
Price          High      Low    Close Adj Close Volume
Date
2019-12-12  0.84892  0.84216  0.84336   0.84336      0
2019-12-13  0.83848  0.82760  0.83004   0.83004      0
2019-12-16  0.83635  0.83040  0.83303   0.83303      0

Data related to the Bitcoin cryptocurrency (BTC: **₿**)

In [32]:
# Dowlnoad BTC-USD, BTC-GBP and BTC-EUR exchange rates
btc = yf.download(['BTC-USD', 'BTC-GBP', 'BTC-EUR'], period='5y', interval='1d', group_by='ticker')
# Display the first 3 rows
btc.head(3)

[*********************100%***********************]  3 of 3 completed

Ticker          BTC-EUR                                                      \
Price              Open         High          Low        Close    Adj Close
Date
2019-12-12  6482.385254  6529.780273  6436.552734  6474.601562  6474.601562
2019-12-13  6475.967285  6553.008789  6475.653809  6537.190918  6537.190918
2019-12-14  6536.488281  6572.397949  6382.094238  6406.791992  6406.791992

Ticker                       BTC-GBP                                         \
Price            Volume         Open         High          Low        Close
Date
2019-12-12  16918822377  5467.516602  5520.465820  5431.332520  5376.049805
2019-12-13  15400147686  5377.184082  5468.463867  5424.251953  5452.721191
2019-12-14  15410302614  5452.134766  5482.087891  5323.354004  5343.954102

Ticker                                    BTC-USD                            \
Price         Adj Close       Volume         Open         High          Low
Date
2019-12-12  5376.049805  14048189973  7216.738770  7266.639648  7164.741211
2019-12-13  5452.721191  12845381627  7244.662109  7293.560547  7227.122559
2019-12-14  5343.954102  12853851930  7268.902832  7308.836426  7097.208984

Ticker
Price             Close    Adj Close       Volume
Date
2019-12-12  7243.134277  7243.134277  18927080224
2019-12-13  7269.684570  7269.684570  17125736940
2019-12-14  7124.673828  7124.673828  17137029730